.search-bar {
    max-width: 500px;
    margin: 15px;
    text-align: center;
}

.search-bar input {
    width: 134%;
}

.video-item img {
    max-width: 64px;
}

.video-detail .details {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-style: oblique;
    color: aqua;
    background-color: #718497;
}

.letter {
    padding: 10px;
    margin: 10px;
    background-color: #718497;
    color: #333;
    height: 80px;
    width: 65%;
    display: inline-block;
    font-family: monospace;
    font-size: 21px;
    text-align: center;
}

.list-group-item {
    cursor: all-scroll;
}

.list-group-item:hover {
    background-color: dimgray;
}






